<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <title>My Webpage</title>
</head>
<body>
    <div class="wrapper">
        <!--<div class="illust_modal" onclick="LargeImageModalOff(this)">-->
            <!--<img class="original-image" src="">-->
        <!--</div>-->
        <div class="top-bar">
            <div class="search-block">
                <div align="right">
                    <input type="text" name="Search-text" id="search-text">
                    <input type="submit" value="Search" id="Search">
                </div>
                <p><input type="radio" name="Favorite" value="2" checked> 10000
                <input type="radio" name="Favorite" value="3"> 5000
                <input type="radio" name="Favorite" value="4"> 1000
                <input type="radio" name="Favorite" value="5"> 500
                <input type="radio" name="Favorite" value="6"> 100  Upper
            </div>
        </div>
        <div id="image-frame">
            {{ response }}
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="http://www.cssscript.com/demo/minimalist-loading-overlay-javascript-library-modalloading/modalLoading.js"></script>
</body>
</html>