<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <title>Pixiv Ranking Search</title>
</head>
<body>
    <div class="wrapper">
        <!--<div class="illust_modal" onclick="LargeImageModalOff(this)">-->
            <!--<img class="original-image" src="">-->
        <!--</div>-->
        <div class="top-bar">
            <div class="search-block">
                <div align="right">
                    <input type="text" name="search-text" id="search-text">
                    <input type="submit" value="search" id="search">
                </div>
                <p><input type="radio" name="favorite" value="2" checked> 10000
                <input type="radio" name="favorite" value="3"> 5000
                <input type="radio" name="favorite" value="4"> 1000
                <input type="radio" name="favorite" value="5"> 500
                <input type="radio" name="favorite" value="6"> 100  Upper
            </div>
        </div>
        <div id="image-frame">
            {{ response }}
        </div>
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>